{% extends "index.html" %}
{% load static %}


{% block title %}
Home
{% endblock title %}

{% block content  %}
<div class="HomeContainer">

   <div>
    <img  class="Img1"  src="static/Images/Group 337.png" alt="" >
   </div>


   <div class="Divimg2">
    <img class="Img2" src="static/Images/Group 26.png" alt="" >
   </div>

   
   <div class="Divimg3">
      <img class="Img3" src="static/Images/Group 338.png" alt="" >
     </div>

</div>

<br> <br>

<div class="ContainBox">
   <div class="MainBox">
      <div class="Boxdiv1">
        <div class="Boxchild1">
         <img src="static/Images/Group 4.png" alt="">
         <h3>Mortgage</h3>
         <p>Get a Question About Mortgage Loan?</p>
         <p>Write to us</p>
        </div>

      </div>
      <div class="Boxdiv2"> 
         <div class="Boxchild1">
            <img src="static/Images/Group 4.png" alt="">
            <h3>Mortgage</h3>
            <p>Get a Question About Mortgage Loan?</p>
            <p>Write to us</p>
           </div>
      </div>
      <div class="Boxdiv3">
         <div class="Boxchild1">
            <img src="static/Images/Group 4.png" alt="">
            <h3>Mortgage</h3>
            <p>Get a Question About Mortgage Loan?</p>
            <p>Write to us</p>
           </div>
      </div>

   </div>
</div>


<div> 
   <img src="static/Images/Group 4.png" alt="">
   <h3>Mortgage</h3>
   <p>Get a Question About Mortgage Loan?</p>
   <p>Write to us</p>
</div>
  
{% endblock content %}