
<div>
  <nav>
    <ul
      style="display: flex; align-items: center; justify-content: space-evenly"
    >
      <li
        style="
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        "
      >
        <a href="/">Home</a>
      </li>
      <li
        style="
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        "
      >
        <a href="/Blog">Blog</a>
      </li>
      <li
        style="
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        "
      >
        <a href="/About">About</a>
      </li>
      <li
        style="
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        "
      >
        <a href="/Contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
